body {
	background-color: #008B8B;
}

#block1, #block2 , #block3, #block4, #block5, #block6, #block7, #block8, #block9 {
	border: 1px solid pink;
	padding: 60px;
	text-align: center;
	background-color: gray;
	font-size: 20px;
	font-weight: bold;
}

.button {
	margin: 5px;
}

